@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Asap|Bungee+Shade|Source+Code+Pro:700');

/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  text-align: center;
}

h1 {
  font-family: 'Bungee Inline';
  font-size: 80px;
}

p {
  margin: 0;
}

/* ---- layout ---- */

.container {
  margin: 0 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/* ---- components ---- */

canvas {
  border-top: 10px solid #606060;
  border-bottom: 10px solid #606060;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
}

.button {
  width: 350px;
  height: 100px;
  border-radius: 100px 100px 100px 100px;
  font-family: 'Asap';
  font-size: 30px;
  color: #CECECE;
}


/* ---- sections ---- */

/*--splash screen--*/

section.splash-header {
  padding-top: 50px;
  margin-bottom: 50px;
}

.splash-header .title {
  font-size: 100px;
  padding: 40px;
}

.splash-header h1.title:hover {
  background: url('./images/brickBackground.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  color: #F7F7F7;
}

.play {
  margin-bottom: 20px;
}

.play-btn {
  background-color: #6B0B0B;
}

.other-options {
  padding-top: 20px;
}

.other-options .button {
  margin: 0 20px;
  width: 200px;
  height: 50px;
  font-size: 18px;
  background-color: #1B384C;
}

.play button:hover {
  color: #EAE027;
  font-size: 40px;
  border: 5px solid #EAE027;
}

.other-options button:hover {
  color: #EAE027;
  font-size: 22px;
  border: 3px solid #EAE027;
}

/*---game over screen---*/

.game-over-header .title {
  font-size: 100px;
  font-family: 'Bungee Shade';
}

.restart {
  background-color: #6B0B0B;
}

section.game-over-score {
  display: flex;
  font-family: 'Source Code Pro';
  font-weight: 700;
  font-size: 30px;
  justify-content: center;
  margin-bottom: 20px;
}

.game-over-score p {
  padding: 10px 40px;
}

.game-over-buttons {
  padding-top: 20px;
}

/*---game screen---*/

section.info {
  padding-top: 30px;
  margin-bottom: 30px;
  text-align: left;
  font-family: 'Source Code Pro';
  font-weight: 700;
  font-size: 20px;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
}

.info p {
  padding: 5px 0px;
}

.shoot-info p {
  font-size: 30px;
  color: #423B3B;
}

.shoot-info span {
  color: #6B0B0B;
}

/*--- how to play screen ---*/



.instructions {
  background-color: #F4F4F4;
}

section.instructions-header {
  border: 5px solid #1B384C;
  border-radius: 10px;
  margin-top: 50px;
}

.instructions-title {
  font-family: 'Source Code Pro';
  font-size: 50px;
  font-weight: 700;
  text-align: left;
  padding-left: 20px;
}

section.instructions-body {
  border: 5px solid #1B384C;
  border-radius: 10px;
  font-size: 20px;
  color: #423B3B;
  margin-bottom: 10px;
}

.instructions-points {
  font-family: 'Source Code Pro';
  font-size: 20px;
  color: #423B3B;
  list-style: circle;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}

.instructions-points li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.instructions-points span {
  color: #6B0B0B;
}

.howto-back {
  padding-top: 15px;
}

.back-btn {
  margin: 0 20px;
  width: 200px;
  height: 50px;
  font-size: 18px;
  background-color: #1B384C;
}

.howto-back button:hover {
  color: #EAE027;
  font-size: 22px;
  border: 3px solid #EAE027;
}